{% extends 'base1.html' %}
{% block title %} Inicio {%endblock%}
{% block content %}
<h1><strong>APLICACIÓN DE VENTAS</strong> </h1> <br>
<h2 class="text-center mb-4">Bienvenido a la App</h1>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <a href="{{url_for('usuario.register')}}" class="btn btn-primary">Registrarse</a>
            <a href="{{url_for('usuario.login')}}" class="btn btn-success">Iniciar sesión</a>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}